/****************/
/* Font Imports */
/****************/

@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir.otf) format(opentype);
}


/***************/
/* Scaffolding */
/***************/

html, body {
  position: relative;
  width: 100%;
  height: 100% !important;
  font-family: 'Avenir', sans-serif;
}

.container {
  position: relative;
  width:80%;
  border-bottom: 2px solid #eeeeee;
}

.project-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills-container {
  font-size: 18px;
}

/************************/
/* Provided CSS Styling */
/************************/

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar {
  font-size: 18px;
  background-color: #ffffff;
  color: #979797;
}

.navbar img {
  max-height: 50px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100%;
}

.navbar .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #979797;
  font-size: 18px;
}

.navbar .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #979797;
}

.experience {
  margin-top: 20px;
  border: 1px solid white;
  min-height: 120px;
  height: auto;
  padding: 10px 0;
}

.name {
  font-size: 55px;
}

.resume {
  font-size: 22px;
}

.description {
  font-size: 18px;
  color: #979797;
}

.title {
  display: block;
  font-size: 22px;
  text-align: center;
  color: #666666;
}

.jumbo-title {
  display: block;
  font-size: 35px;
}

.jumbo-subtitle {
  display: block;
  font-size: 22px;
  color: #979797;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  color: #979797;
}

.fa-skills {
  font-size: 2em;
}

#footer {
  text-align: center;
}

#footer p {
  font-size: 25px;
}

#footer ul {
  display: block;
  margin: 0 auto;
  font-size: 30px;
}

#footer ul li {
  display: inline;
  margin: 0 20px;
  color: #aaa;
}

#footer ul li a {
  color: #aaa;
  text-decoration: none;
}


/*********************************/
/* Insert Custom/New CSS Styling */
/*********************************/
